*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    width: 50vw;
    height: 50vh;
    background-image: url(./download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 10vw;
    left: 20%;
}

.text{
    width: 15vw;
    padding: 20px;
    background-color: black;
    color: white;
    position: absolute;
    right: -5vw;
    bottom: -15vw;
}